{% extends "base.html" %}

{% block content %}
  <h1>Our dishes:</h1>
  <h2>You can create new dish - <a href="" class="btn create_button bg-gradient rounded-pill">Create</a> implement letter</h2>
  {% if dish_list %}
      <table class="table">
      <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">name</th>
          <th scope="col">description</th>
          <th scope="col">price</th>
          <th scope="col">dish_type</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
        {% for dish in dish_list %}
      <tbody>
        <tr>
          <th scope="row"><a href="{% url 'kitchen:dishes-detail' pk=dish.id %}">{{ dish.id }}</a></th>
          <td>{{ dish.name }}</td>
          <td>{{ dish.description }}</td>
          <td>{{ dish.price }}$</td>
          <td>{{ dish.dish_type }}</td>
          <td><a href="" class="btn update_button bg-gradient rounded-pill">Update</a> implement letter</td>
          <td><a href="" class="btn delete_button bg-gradient rounded-pill">Delete</a> implement letter</td>
      </tbody>
      {% endfor %}
    </table>
  {% else %}
    <p>We don't have any dish now :(</p>
  {% endif %}

{% endblock %}